@import (less) "./variables/variables.less";

.vector-video-controls {
	padding: 20px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	background: fade(@light, 70%);
	transition: all 0.3s;
	
	.recording &.autohide {
		bottom: -(2*20px + @btn-height) + 10px;
		
		&:hover {
			bottom: 0;
		} 
	}
	
	/** progressbar */
	.progress-bar {
		content: " "; // it must not be empty!
		display: block;
		height: 5px;
		position: absolute;
		top: 1px;
		left: 0;
		background: @highlight;		
	}
	
	// unselectable!
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;

	button {
		transition: all 0.2s;
		height: @btn-height;
		cursor: pointer;
		margin-right: 10px;
		color: @btn-default-txt;		
		border: 2px solid @light;
		border-radius: 4px;
		background: @light;
		//box-shadow: 0 0 10px @dark inset;		
		font-size: 18px;

		&:not(:disabled) {
			&:hover,
			&.active {
				border-color: @white;
			}
	
			&:active,
			&:focus {
				outline: none;
			}			
		}

		&.option {
			position: relative;
			margin: 2px 22px 2px 2px;
			width: @btn-height;
			float: left;
			background: @light;
			overflow: hidden;
			
			&.active {
				transform: scale(1.1);
				border-color: @white;
			}
			
			&:hover {
				border-color: @white;
			}
		}
		
		.icon {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			float: left;
			
			&.rec {
				border-radius: 20px;
				border: none;
				background-color: @btn-red-bg;
			}
			
			&.play {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 20px;
				border-color: transparent transparent transparent @dark;
			}
			
			&.pause {				
				width: 20px;
				height: 20px;
				background: @dark; 
			}
			
			&.upload {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 20px 10px;
				border-color: transparent transparent @dark transparent;
			}
		}
		
		&:disabled {
			cursor: default;
			background: @dark;
			
			.icon {				
				&.rec {
					background-color: @light;
				}
				
				&.play {
					border-color: transparent transparent transparent @light;
				}
				
				&.pause {				
					background: @light; 
				}
				
				&.upload {
					border-color: transparent transparent @light transparent;
				}
			}			
		}
		
	}
}

.video-time {
	height: 34px;
	line-height: 34px;
}

.time {
	line-height: 1em;
}


/** player **/

.vector-video-buttons,
#video-time {
	text-align: left;
	float: left;
	margin-right: @btn-height*1.5;
}

/** recorder **/

.vector-video-buttons,
.vector-video-colors,
.vector-video-eraser {
	float: left;
	margin-right: @btn-height*1.5;
}

.vector-video-sizes {
	float: left;
	margin-right: @btn-height*1.5;

	button {
		.dot {
			background: transparent;
			display: inline-block;			
		}
	}
}