<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" value="noindex, nofollow">
        <title>{{ title }} - Vector video</title>

        <!-- Bootstrap 3 stylesheet -->
        <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css">

        <!-- Open Sans font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="stylesheet" media="screen,projection,tv" href="/css/style.css">
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- JS libraries -->
        <script src="/js/libs/jquery.min.js"></script>
        <script src="/js/libs/bootstrap.min.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
