/**
 * Enable the recorder and the player to stretch accross the whole screen
 */

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

#demo,
.vector-video-wrapper {
	width: 100%;
	height: 100%;
}


header#header,
div#page-body,
footer#footer {
	padding: 20px 0;
}

@media (max-width: 900px) {
	header#header,
	div#page-body,
	footer#footer {
		width: 100%;
		margin: 0;
		padding: 5%;
	}
}

@media (min-width: 900px) {
	header#header,
	div#page-body,
	footer#footer {
		width: 900px;
		margin: 0 auto;
	}
}

/**
 * Header
 */


header#header h1 {
	font-weight: lighter;
}

/**
 * Body
 */

div#page-body table {	
	border-collapse: collapse;
	width: 100%;
}

div#page-body table td, th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid lightgray;
}

div#page-body table th {
	background: #eee;
	color: gray;
	font-weight: lighter;	
	padding-top: 10px;
}

div#page-body table td.tags a:not(:last-child) {
	margin-right: 5px;	
}

div#page-body form p {
	line-height: 20px;
	margin-bottom: 2px;
}

div#page-body form label {
	width: 20%;
	display: inline-block;
}

div#page-body form input[type=text], 
div#page-body form textarea {
	width: 70%;
	padding: 3px 5px;
	display: inline-block;	
}

div#page-body form footer {
	padding: 20px 0;
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid lightgray;
	background: #eee;
}

/**
 * Footer
 */

footer#footer {
	text-align: center;	
}

footer#footer a {
	color: gray;
	border-bottom: 1px solid gray;
	text-decoration: none;
}

footer#footer a:hover {
	color: dimgray;
}

/**
 * Misc
 */
 
input[type=submit],
a.btn {
	border-radius: 3px;
	padding: 5px 10px;
	background: #eee;
	color: black;
	font-weight: lighter;
	border: 1px solid gray;	
	text-decoration: none;
	margin: 2px;
	display: inline-block;
	font-size: 14px;
}

input[type=submit]:hover,
a.btn:hover {
	background: #ddd;
}