{{!--

The player is here.

Variables:
recording 		Contains the information about the video to play

--}}

{{!-- #player is the default selector for the player - I don't have to specify the container when creating the player --}}
<div id="player" class="board"></div>

<script src="/js/libs/vector-video.js"></script>
<script>
window.onload = function() {
    // create the player
    // for more information about configuration see documentation (https://github.com/rozsival/vector-video)
    new Player({
        xml: {
            file: "/download/xml/{{ id }}"
        }
    });
};
</script>