{{!--

The player is here.

Variables:
recording 		Contains the information about the video to play

--}}


{{!-- #recorder is the default selector for the player - I don't have to specify the container when creating the player --}}
<div id="recorder" class="board"></div>

<script src="/js/libs/vector-video.js"></script>
<script>
window.onload = function() {
    // create the recorder
    new Recorder({
        // for more information about configuration see documentation (https://github.com/rozsival/vector-video)
        url: {
            saveResult: "/upload/result",
            getLink: "/get/link"
        },
        audio: {
            host: "localhost",
            port: 4000,
            path: "/upload/audio"
        }
    });
};
</script>