/**
 *	This file contains color definitions.
 *	@author Šimon Rozsíval
 *	@theme 	Default theme
 */
.container {
  width: 100%;
  display: block;
  overflow: hidden;
}
.row {
  margin-left: -7.91666667%;
  width: 100%;
  float: left;
  overflow: hidden;
}
.col-1 {
  width: 5%;
  float: left;
  margin-left: 7.91666667%;
}
.col-2 {
  width: 17.91666667%;
  float: left;
  margin-left: 7.91666667%;
}
.col-3 {
  width: 30.83333333%;
  float: left;
  margin-left: 7.91666667%;
}
.col-4 {
  width: 43.75%;
  float: left;
  margin-left: 7.91666667%;
}
.col-5 {
  width: 56.66666667%;
  float: left;
  margin-left: 7.91666667%;
}
.col-6 {
  width: 69.58333333%;
  float: left;
  margin-left: 7.91666667%;
}
.col-7 {
  width: 82.5%;
  float: left;
  margin-left: 7.91666667%;
}
.col-8 {
  width: 95.41666667%;
  float: left;
  margin-left: 7.91666667%;
}
.col-9 {
  width: 108.33333333%;
  float: left;
  margin-left: 7.91666667%;
}
.col-10 {
  width: 121.25%;
  float: left;
  margin-left: 7.91666667%;
}
.col-11 {
  width: 134.16666667%;
  float: left;
  margin-left: 7.91666667%;
}
.col-12 {
  width: 147.08333333%;
  float: left;
  margin-left: 7.91666667%;
}
